body {
    margin: 0;
    background: #c8c8c8;
}

.row {
    background: #666;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.year {
    background: #666;
    padding: 5px 10px;
    color: #fff;
}

.cnt {
    background: #efefef;
    padding: 5px 15px;
}

.img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background: #fff
}

.img img {
    width: calc( ( 100% - 20px ) / 4);
    margin: 0 5px 5px 0;
    height: 100%;
}